<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880513019281-9ht555cno54agqtqr5afksg24skamrdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880513019281-9ht555cno54agqtqr5afksg24skamrdi</string>
	<key>API_KEY</key>
	<string>AIzaSyB_8QqQb9qvywnFyTE7oeteEEFbUKs1WGw</string>
	<key>GCM_SENDER_ID</key>
	<string>880513019281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neobank</string>
	<key>PROJECT_ID</key>
	<string>neobank-a2c13</string>
	<key>STORAGE_BUCKET</key>
	<string>neobank-a2c13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880513019281:ios:81cf7b287e72ed87b27e30</string>
</dict>
</plist>